*{
	margin: 0px;
  	padding: 0px;
  	font-family: sans-serif;
}

body{
	background-image: url("../img/a.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

@media screen and (orientation:landscape) {

	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
	    -webkit-appearance: none;
	    margin: 0;
	}

	#espacios{
		padding-top: 20px;
		box-sizing: border-box;
	}

	#menu{
		position: absolute;
		border-right: 1px solid black;
		height: 100%;
		width: 20%;
		background-color: rgba(255,255,255,.7);
		-webkit-box-shadow: 13px 0px 21px 1px rgba(0,0,0,0.75);
		-moz-box-shadow: 13px 0px 21px 1px rgba(0,0,0,0.75);
		box-shadow: 13px 0px 21px 1px rgba(0,0,0,0.75);
	}

	.titulo{
		text-align: center;
		color: #007362;
		font-size: 140%;
		border-bottom: 1px solid black;
	}

	#pantalla{
		width: 60%;
		height: 63%;
		position: absolute;
		margin-left: 30%;
		margin-top: calc(15% - 40px);
		border-radius: 20px;
		border: none;
		background-color: rgba(255,255,255,.4);
		-webkit-box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 17px 10px rgba(0,0,0,0.75);
	}

	#opciones{
		height: calc(50% + 9px);
		font-size: 1.3em;
	}

	ul, ol{
		list-style: none;
	}

	.options li a{
		color: white;
		text-decoration: none;
		padding: 25px 10px;
		display: block;
	}

	.opcion{
		background-color: #007362;
	}

	.opcion ul li a:hover{
		cursor: pointer;
	}

	.opcion ul li a:active{
		background-color: rgb(0,64,64);
  		transform: translateY(4px);
	}

	.options li ul{
		display: none;
		position: absolute;
		min-width: 140px;
	}

	.options li:hover > ul{
		display: block;
	}

	.options li ul{
		background-color: #4F9387;
		width: 100%;
		position: relative;
	}

	#info{
		width: 100%;
		position: absolute;
		text-align: center;
		padding-top: 40px;
		color: #253542;
	}

	.con{
		font-weight: bold;
		font-size: 130%;
	}

	#barra{
		height: 40px;
		width: 100%;
		background-color: #007362;
		border-top-right-radius: 17px;
		border-top-left-radius: 17px;
	}

	#barra p{
		float: left;
		padding: 10px 15px;
		color: white;
		font-weight: bold;
		width: 150px;
	}

	#barra input{
		float: right;
		height: 20px;
		outline: none;
	}

	#buscar{
	    width: 200px;
	    height: 40px;
	    border: none;
	    margin-top: 7px;
	    border-bottom: solid;
	    border-color: #4F9387;
	    padding-left: 1px;
	    background: rgba(255,255,255,0);
	    box-sizing: border-box;
	    font-size: 1em;
	    outline: none;
	    font-weight: 600;
	    color: rgb(0,64,64);
	}

	#buscar::placeholder { 
		color: rgb(0,64,64); 
	}

	#buscar:focus{
	    -webkit-box-shadow: 0px 8px 8px -3px rgba(3,93,80,.9);
	    -moz-box-shadow: 0px 8px 8px -3px rgba(3,93,80,.9);
	    box-shadow: 0px 8px 8px -3px rgba(3,93,80,.9);
  	}

	#lupa{
		margin-top: 3px;
		padding-top: 3px;
		padding-left: 3px;
		margin-right: 10px;
	}

	#lupa:active{
		background-color: #4F9387;
		box-shadow: 0 2px rgba(255,255,255,0);
  		transform: translateY(2px);
	}

	#espacios{
		margin-left: 25px;
	}

	#espacios> input, select{
		outline: none;
		height: 30px;
		width: 180px;
		padding-left: 10px;
		margin-right: 5px;
		margin-bottom: 10px;
		background: rgba(255,255,255,0);
		border: none;
		border-bottom: solid;
		border-color: rgb(0,115,98);
	}

	#espacios> input::placeholder, select::placeholder{
		color: black;
	}

	#espacios> input:focus, select:focus{
	    -webkit-box-shadow: 0px 8px 8px -3px rgba(3,93,80,.9);
	    -moz-bo	x-shadow: 0px 8px 8px -3px rgba(3,93,80,.9);
	    box-shadow: 0px 8px 8px -3px rgba(3,93,80,.9);
  	}

  	#espacios> button{
  		height: 30px;
  		width: 100px;
  		outline: none;
  		margin-top: 10px;
  		border-radius: 10px;
  		border: none;
  		background-color: rgb(0,115,98);
  		color: white; 
  	}

  	#espacios> button:active{
  		background-color: #4F9387;
		box-shadow: 0 2px #666;
  		transform: translateY(2px);
  	}
}
